<!DOCTYPE html>
<html>
  <head>
    <title>Blockchain</title>
    <link rel='stylesheet' href='/styles/main.css' />
  </head>
  <body>
    <main>
      <h1>Blockchain</h1>
      <ul>
        <% blocos.map(bloco => { %>
            <li><%= bloco.nome %></li>
        <% }); %>
        </ul>
    </main>
  </body>
</html>